@model Pacagroup.Comercial.Creditos.WebConsumer.Models.Credito.CreditoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comision)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.IdCredito }) |
    @Html.ActionLink("Back to List", "Index")
</p>
